
#preview {
    width: 100%;
    display: none;
}

#filterPreview {
    display: none;
}

#overlay {
    position: absolute;
    z-index: 2;
    mix-blend-mode: normal;
}


#buttonContainer {
    text-align: center;
}

#btnRed {
    height: 10rem;
    width: 10rem;

    background-color: #FF0000;

    border: none;
}

#btnBlue {
    height: 10rem;
    width: 10rem;

    background-color: #0000FF;

    border: none;
}